body {
    background-color: lightblue !important; /* Using !important to manually overwrite the bootstrap external CSS to change background color */ 
    max-width: 1300px; /* This is the closest I could do to match the width for the page*/
    margin: 0 auto !important; 
    float: none !important;
}

.navbar_font_size {
    font-size: 12px !important;
}
.navbar_font_blue_when_hover:hover {
    color: rgb(9, 9, 201) !important;

}
.icon{ /* This is for the magnifine glass and account logo on the navbar*/
    height: 20px;
    width: auto;
    @media (max-width:991px) { /*the closest i could find to the breakpoint for when nav bar collapses */
        display: none;
        
    };
}

.right_sided_icon { /*This is for when the nav bar collpases and will display the icons on the right */
    height: 25px;
    margin: 10px;
    width: auto;
    @media (min-width:991px) {
        display:none;
        
    }
}

.margin_right{
    margin-right: 15px;
}

.navbar_margin{ /*This is for the uncollapsed second part of the nav bar */
    padding: 15px;
}

.white_txt{
    color: white;
}

.text-right{
    text-align: right;
}
.bottom_button{
    justify-content: center;
    align-items: center;
    bottom: 5px;
    right: 45%;
    position: absolute;
}

.button_left{
    display: flex !important;
    justify-content: left;
    align-items: left;
    position: absolute;
    left: 5px;
    bottom: 5px;
    
}
.button_right{
    display: flex !important;
    justify-content: right;
    align-items: right;
    position: absolute;
    right: 5px;
    bottom: 5px;

}


